<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Loading...</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/progressbar.css">
    <script src="../../js/progressbar.js"></script>
</head>
<body>
<div th:include="./header"></div>
<div class="loading-container">
    <h1>Aguarde...</h1>
    <input type="hidden" id="cpf" name="cpf" th:value="${cpf}">
    <div id="progress">
        <div id="bar">0%</div>
    </div>
</div>
</body>
</html>