


.modal-body .alert {
  margin: -16px -15px 10px -15px;
  border-radius: 0;
}


.modal-backdrop {
  z-index: 9010;
}

.modal {
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.85);
  -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.85);
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.85);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 9020;
}

.modal-header {
  color: #f1f1f1;
  padding: 5px 15px;
  background: #2b2d38;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #464a56), color-stop(100%, #2b2d38));
  background: -webkit-linear-gradient(top, #464a56 0%, #2b2d38 100%);
  background: -moz-linear-gradient(top, #464a56 0%, #2b2d38 100%);
  background: -ms-linear-gradient(top, #464a56 0%, #2b2d38 100%);
  background: -o-linear-gradient(top, #464a56 0%, #2b2d38 100%);
  background: linear-gradient(top, #464a56 0%, #2b2d38 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff464a56', endColorstr='#ff2b2d38', GradientType=0 );
 filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}

.modal-header .close {
  color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-shadow: 0 -1px 0 #000000;
}

.modal-header .close i {
  font-size: 10px;
}

.modal-header h3,
.modal-header h4 {
  margin: 0;
  line-height: 30px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
}

.modal-body {
  background-color: #f0f2f8;
  min-height: 30px;
 /* max-height: 550px;*/
}

.modal-footer {
  padding: 7px 15px 8px;
  margin-bottom: 0;
  text-align: right;
  border-top-color: #b4b7be;
  background: #dee3e7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dee3e7), color-stop(100%, #f5f6f7));
  background: -webkit-linear-gradient(top, #dee3e7 0%, #f5f6f7 100%);
  background: -moz-linear-gradient(top, #dee3e7 0%, #f5f6f7 100%);
  background: -ms-linear-gradient(top, #dee3e7 0%, #f5f6f7 100%);
  background: -o-linear-gradient(top, #dee3e7 0%, #f5f6f7 100%);
  background: linear-gradient(top, #dee3e7 0%, #f5f6f7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee3e7', endColorstr='#f5f6f7', GradientType=0 );
 filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.modal > .modal-body:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.modal > .modal-body:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.modal-shadow {
  padding: 0;
  border: 1px solid #666;
  border: 1px solid rgba(0, 0, 0, 0.4);
*border: 1px solid #666;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

