/* CSS Document */

/*************************** 
Criado por: Leandro Yamasaki 
***************************/
@media only screen and (min-width: 1024px) {
	#divImagemDetran {
		background: url(../images/img-SIM.jpg);
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    min-width: 50%;
	    min-height: 50%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    min-height: 768px;
	}
}

@media only screen and (min-width: 1366px) {
	#divImagemDetran {
		background: url(../images/img-SIM.jpg);
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    min-width: 50%;
	    min-height: 50%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    min-height: 768px;
	}
}

@media only screen and (min-width: 1920px) {
	#divImagemDetran {
		background: url(../images/img-SIM.jpg);
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    min-width: 50%;
	    min-height: 50%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    min-height: 1080px;
	    margin-top: -100px;
	}
}

@media only screen and (min-width: 2560px) {
	#divImagemDetran {
		background: url(../images/img-SIM.jpg);
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    min-width: 50%;
	    min-height: 50%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    min-height: 1400px;
	    margin-top: -120px;
	}
}


