/*
 * ============================================================================
 *
 * Folha de estilos da SEFAZ (SP) para o sistema Cadesp
 *
 * ============================================================================
 */

/*
 * ============================================================================
 * Tags de uso geral
 * ============================================================================
 */

/*
 * Divs
 */
div.menuSuperior
{
	position: absolute;
	left: 10px;
}

div.panelConsultaPublica
{
	background-color: #eeeeee;
	color: black;
	padding-top: 15px;
	padding-bottom: 0px;
}

legend
{
	font-weight: bold;
}

/*
 * Tabelas
 */
table.conteudoGeral 
{
	margin-bottom: 8px;
}

table.loginTable 
{
	background-color: #e6e6e6;
	color: #333333;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 700px;
}

table.consultaFiltrosTable
{
	background-color: #e6e6e6;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table.procuracoesTable
{
	background-color: #e6e6e6;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
table.HomologacaoSolicitacoes
{
	vertical-align: top;
	width: 90%;
	min-width:700px;
	height: 80%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	margin-bottom: 10px;
	
}

td.margemEsquerdaConteudoGeral 
{
	height: 510px;
}

td.margemDireitaConteudoGeral 
{
	height: 510px;
}

td.conteudoPrincipal
{
	width: 100%;
	vertical-align: top;
	text-align: left;
	padding-top: 10px;
}

td.cantoSupEsq 
{
	background-image: url("../Images/Graficos/cantoSupEsq.gif");
	background-repeat: no-repeat;
	background-color: White;
	min-width: 7px;
	min-height: 7px;
	width: 7px;
	height: 7px;
}

td.cantoSupDir
{
	background-image: url("../Images/Graficos/cantoSupDir.gif");
	background-repeat: no-repeat;
	background-color: White;
	min-width: 7px;
	min-height: 7px;
	width: 7px;
	height: 7px;
}

td.cantoInfEsq 
{
	background-image: url("../Images/Graficos/cantoInfEsq.gif");
	background-repeat: no-repeat;
	background-color: White;
	min-width: 7px;
	min-height: 7px;
	width: 7px;
	height: 7px;
}

td.cantoInfDir
{
	background-image: url("../Images/Graficos/cantoInfDir.gif");
	background-repeat: no-repeat;
	background-color: White;
	min-width: 7px;
	min-height: 7px;
	width: 7px;
	height: 7px;
}

td.linhaSuperior
{
	background-image: url("../Images/Graficos/linhaSuperior.gif");
	background-repeat: repeat-x;
	height: 7px;
}

td.linhaInferior
{
	background-image: url("../Images/Graficos/linhaInferior.gif");
	background-repeat: repeat-x;
	height: 9px;
}

td.linhaEsquerda
{
	background-image: url("../Images/Graficos/linhaEsquerda.gif");
	background-repeat: repeat-y;
	width: 7px;
}

td.linhaDireita
{
	background-image: url("../Images/Graficos/linhaDireita.gif");
	background-repeat: repeat-y;
	background-color: White;
	width: 9px;
}

td.formContent
{
	background-color: #e6e6e6;
}

td.loginConteudo
{
	background-color: #e6e6e6;
}

tr.cabecalhoMenu
{
	height: 22px;
	background-image: url("../Images/Graficos/fundo_preto3.gif");
	/* background-image: url("../Images/fundo_menutopo.jpg"); */
	background-repeat: repeat;
}


td.cabecalhoBotoesMenu
{
	text-align: right;
	padding-right: 5px;
}

/*
 * Fontes
 */
.alinharEsquerda
{
	text-align: left;
}

.alinharCentro
{
	text-align: center;
}

.alinharDireita
{
	text-align: right;
}

.alinharJustificado
{
	text-align: justify;
}

.negrito
{
	font-weight: bold;
}
.labelDetalhe
{
	font-family: Verdana;
	font-size: 9px;
	font-weight:bold;
}
.dadoDetalhe
{
	font-family: Verdana;
	font-size: 9px;
	font-weight:normal
}
.labelHeader
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
}

/*
 * input
 */
image, input.imgButton
{
	border: none;
}

image.imgButton, input.imgButton
{
	cursor: pointer;
}

.inputNumber
{
	font-family: Verdana;
	font-size: 10px;
	text-align: right;
	width: 75px;
}

/*
 * ============================================================================
 * Tags de uso específico
 * ============================================================================
 */

/*
 * menu do sistema
 */
.menuSuperiorOver, .menuSuperiorLevel0,
.menuSuperiorLevel1, .menuSuperiorLevel2,
.menuSuperiorLevel3
{
	border: solid 1px #ffffff;
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	padding-left: 3px;
	padding-right: 3px;
	height: 20px;
	cursor: pointer;
}

.menuSuperiorLevel0, .menuSuperiorLevel1,
.menuSuperiorLevel2, .menuSuperiorLevel3
{
	background-color: #eeeeee;
	color: #cc0000;
}

.menuSuperiorOver 
{
	background-color: #C6CFD7;
	color: #000000;
	font-weight: normal;
}

.menuSuperiorLevel0, .MenuSuperiorLevel0Width
{
	width: 120px;
}

.menuSuperiorLevel1, .MenuSuperiorLevel1Width 
{
	width: 135px;
}

.menuSuperiorLevel2, .MenuSuperiorLevel2Width
{
	width: 120px;
}

.menuSuperiorLevel3, .MenuSuperiorLevel3Width
{
	width: 120px;
}

/* Mensagem de espera */
.mensagemEspera
{
	font-family: Verdana;
	font-size: 11px;
	color: black;
}

/* Mensagem de erro */
.mensagemErro
{
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: red;
}
/*
 * Consulta
 */

.cabecalho_1
{
	font-family: Verdana;
	font-size: 15px;
	font-weight: normal;
	color: black;
}
.cabecalho_2
{
	font-family: Verdana;
	font-size: 14px;
	font-weight: normal;
	color: black;
}
.cabecalho_3
{
	font-family: Verdana;
	font-size: 13px;
	font-weight: normal;
	color: black;
}
.detalhe_1
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: black;
}

/*
 * Consulta completa
 */
 
 .botao_consulta_completa
 {
	width: auto;
	overflow: visible;
 }
 
 .botao_historico
 {
	font-family: Verdana;
	font-size: 8px;
	font-weight: normal;
	padding: 0px;
 }
 
 .botao_ajuda
 {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	padding: 0px;
 }
 
 .botao_detalhe
 {
	background-color: white;
	border-color: Gray;
	border-style: solid;
	border-width: 1px;
	font-size: 8px;
	padding: 0px;
	width: 10px;
 }
 
#overlayMsgUsuario
{
       visibility: hidden;
       position: absolute;
       left: 0px;
       top: 0px;
       width: 100%;
       height: 100%;
       text-align: center;
       z-index: 1000;
       background-image: url(../Images/fundo_transparente.png);
}
             
#overlayMsgUsuario div
{
       width: 400px;
       margin: 100px auto;
       background-color: #fff;
       border: 1px solid #000;
       padding: 15px;
       text-align: center;
}

#overlayFiltroProcuracao
{
       visibility: hidden;
       position: absolute;
       left: 0px;
       top: 0px;
       width: 100%;
       height: 100%;
       text-align: center;
       z-index: 1000;
       background-image: url(../Images/fundo_transparente.png);
}
             
#overlayFiltroProcuracao div
{
       width: 400px;
       margin: 100px auto;
       background-color: #e6e6e6;
       border: 1px solid #000;
       padding: 15px;
       text-align: center;
}

#overlayMsgUsuario2
{
       visibility: hidden;
       position: absolute;
       left: 0px;
       top: 0px;
       width: 100%;
       height: 100%;
       text-align: center;
       z-index: 1000;
       background-image: url(../Images/fundo_transparente.png);
}
             
.overlayMsgUsuario2div
{
       width: 400px;
       margin: 100px auto;
       background-color: #fff;
       border: 1px solid #000;
       padding: 15px;
       text-align: center;
}

/* F.A.Q. -INICIO */

    .faqDuvida 
    {
        height: 26px; 
        width: 80%;
        left: 10%;
        font-size:small; 
        font-weight: bolder
    }
    .faqLista ul
    {         
        margin-left: -20px;
        list-style-type: none          
    }
    .faqLista a
    {
        height: 26px;           
        font-size:small; 
        text-align: left     
    }
    .faqLista p
    {
        font-size:small; 
    }      
    .faqMensagem p
    {
        text-align: justify
    }
    .faqMensagem ul
    {
        text-align: left;
        list-style-type: decimal
    }
    .faq hr{
        margin: 15px 0;
        border: #999999 solid 1px;
    }
    #faq
    {
        margin-left: 10%;
        width: 80%;
    }

/* F.A.Q. -END */

/* CERTIDAO - BEGIN */
.certidaoLogo {
	height: 120px;
	width: 82px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
}
#certidaoBorda 
{
    position: relative;
	background-color: White;
	font: inherit;
}
#certidaoApresentacao 
{
    padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	text-align: center;
	width: 77%;
}
.certidaoP {
	padding-left: 20px;
	padding-right: 20px;
}
#certidaoApresentacao p{
	text-align: center;
	margin:0;
} 
#certidaoTitulo
{
    clear:both;
    padding-top: 5px;
	padding-bottom: 5px;
}
#certidaoTitulo p {
	text-align: center;
	font-weight: bold;
	font-family: Verdana;
	font-size: 11px;
	color: black;
} 			
#certidaoTexto p {
	text-align: justify;
	font: inherit;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
}
#certidaoValidade p {
	text-align: left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;
}
#certidaoObservacao p {
	text-align: left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;
	color: black;				
}
#certidaoGoverno 
{
    font-family: Verdana;
	font-weight: normal;
	color: black;
	font-size: 16px;
}
#certidaoSefaz {
	font-family: Verdana;
	font-weight: normal;
	color: black;
	font-size: 16px;	
}
#certidaoCoordenadoria {
	font-family: Verdana;
	font-weight: normal;
	color: black;
	font-size: 14px;
}
#certidaoDiretoria {
	font-family: Verdana;
	font-weight: normal;
	color: black;
	font-size: 14px;	
}
#certidaoImpressaoErro p {
	text-align: center;
}

/* CERTIDAO - END */
