/* CSS */
@font-face {
	font-family: "TitilliumWeb-Regular";
	src: url("../fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
	font-family: "TitilliumWeb-Light";
	src: url("../fonts/TitilliumWeb-Light.ttf");
}

@font-face {
	font-family: "TitilliumWeb-Bold";
	src: url("../fonts/TitilliumWeb-Bold.ttf");
}

/*----------------------------------------------*/
body {
	background: #fff;
	font-family: TitilliumWeb-Regular, Lucida Grande, Lucida Sans, Arial,
		sans-serif;
	font-size: 14px;
	color: #555;
	overflow-y: scroll;
}

h1 {
	border-left: 6px solid #3a7eaf;
	font-size: 28px;
	line-height: 18px;
	padding-bottom: 4px;
	padding-left: 10px;
	margin-bottom: 20px;
}

h3, h4, h5 {
	border-bottom: 1px solid #397fb0;
}

h3 {
	margin-bottom: 0;
}

h3, h4 {
	margin-left: 15px;
	margin-right: 0;
}

h4 {
	margin-left: 15px;
	margin-bottom: 10px;
}

h3 a, h4 a {
	margin-left: -30px;
}

h3 a:hover, h4 a:hover, h5 a:hover {
	text-decoration: none;
}

h3 a:focus, h4 a:focus, h5 a:focus {
	outline: none;
	outline-offset: 0;
}

.table {
	margin-bottom: 10px;
}

.table>thead>tr>th {
	padding-bottom: 0;
	color: #337ab7;
}

/*----------------------------------------------*/
input[type=text], input[type=password] {
	border: 1px solid #bcbec0;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

select {
	border: 1px solid #bcbec0;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

textarea {
	border: 1px solid #bcbec0;
	background: #fff;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}

input[type=text][disabled=disabled], input[type=password][disabled=disabled],
	textarea[disabled=disabled] {
	background: #eee;
}

/*----------------------------------------------*/

/* classes de apoio */
.sinesp-p0 {
	padding: 0;
}

.sinesp-pr0 {
	padding-right: 0;
}

.sinesp-pl0 {
	padding-left: 0;
}

.sinesp-mr-2 {
	margin-right: 25px;
}

.sinesp-mb-1 {
	margin-bottom: 15px;
}

.sinesp-mb-2 {
	margin-bottom: 7px;
}

/*----------------------------------------------*/
#sinesp-header {
	background: url(../img/ui-header-background.png) repeat-x left center
		transparent;
}

#sinesp-header #sinesp-logo {
	background: url(../img/marca99.png) no-repeat left center transparent;
	font-size: 30px;
	padding-left: 60px;
	color: #367eb8;
}

#sinesp-header #sinesp-logo span {
	font-family: "TitilliumWeb-Bold";
	color: #367eb8;
}

#sinesp-header .btn-sinesp-arrow-up {
	margin: 15px 15px 0 0;
	padding: 10px !important;
}
/* bootstrap */
#sinesp-header.navbar {
	border: none;
	border-radius: 0;
}

#sinesp-header.navbar .navbar-collapse {
	margin-left: 40%;
}

#sinesp-header.navbar-default .navbar-nav>.active>a, #sinesp-header.navbar-default .navbar-nav>.active>a:focus,
	#sinesp-header.navbar-default .navbar-nav>.active>a:hover {
	background-color: #397fb3;
	color: #fff;
}

#sinesp-header.navbar-default .nav.navbar-nav>li.dropdown.active.open>a,
	#sinesp-header.navbar-default .nav.navbar-nav>li.dropdown.open>a {
	background-color: #397fb3;
	color: #fff;
}

#sinesp-header.navbar-default .nav.navbar-nav>li.dropdown.active.open>ul.dropdown-menu a:hover,
	#sinesp-header.navbar-default .nav.navbar-nav>li.dropdown.open>ul.dropdown-menu a:hover {
	background-color: #ddeafa;
}

#searchContainer {
	padding: 0 0 5px;
}

#mainContainer {
	margin-bottom: 50px;
}

#footer {
	margin-top: 14px;
	background: #e0e0e0;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 99991;
}

#footer .container {
	height: 36px;
	line-height: 36px;
	background:
		url(https://seguranca.sinesp.gov.br/images/MJ_Senasp_rodape.png)
		no-repeat transparent;
	background-position: 0px 8px;
}

/*----------------------------------------------*/
.search-dropdown {
	display: inline;
}

.search-dropdown label {
	padding-left: 30px;
}

.sinesp-dropdown {
	position: relative;
}

.sinesp-dropdown button {
	
}

.sinesp-dropdown-menu {
	position: absolute;
	z-index: 5;
	display: none;
	overflow-x: hidden;
	overflow-y: visible;
	padding: 5px 20px;
	background: #fff;
	border: 1px solid #b4d0e6;
	margin-top: -1px;
	box-shadow: 2px 2px 4px rgba(200, 200, 200, .5);
}

.dropdown-menu {
	min-width: 190px;
}

.sinesp-advancedSearch {
	width: 480px;
	background: #fff;
	border: 1px solid #bcd8ee;
	padding: 15px 15px 0;
	margin-top: -2px;
}

.sinesp-advancedSearch .sinesp-panel-top>li>a.btn,
	.sinesp-advancedSearch .sinesp-panel-top>div>div .btn {
	margin-right: 0;
	margin-left: 0;
}

.sinesp-advanced-search-ctrl, .sinesp-advanced-search-ctrl:hover,
	.sinesp-advanced-search-ctrl:active, .sinesp-advanced-search-ctrl:focus
	{
	border: none;
	background: transparent !important;
	color: #337ab7 !important;
	box-shadow: none !important;
}

.sinesp-advanced-search-ctrl .caret {
	border-top: 5px dashed #fd8600;
	margin-left: 4px;
}

/*----------------------------------------------*/
.icon-set {
	display: inline-block;
	background: url(../img/ico-set-blue.png) no-repeat;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin: 0 0 1px;
}

.icon-plus {
	background-position: 0 -194px;
}

.icon-minus {
	background-position: -16px -194px;
}

.icon-set-extra {
	display: inline-block;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin: 0 0 1px;
}

.icon-up {
	background: url(../img/ico-arrowup.png) no-repeat center 45% transparent;
}

.sinesp-simple-collapse-control .icon-set {
	margin: 0 5px 0 10px;
}

a.sinesp-simple-collapse-control, a.sinesp-simple-collapse-control:active,
	a.sinesp-simple-collapse-control:hover, a.sinesp-simple-collapse-control:focus,
	a.sinesp-simple-collapse-control:focus:active, a.sinesp-simple-collapse-control:focus:hover,
	a.sinesp-simple-collapse-control:active:hover {
	text-decoration: none !important;
}

.sinesp-collapse-control .icon-set {
	margin: 0 5px 0 10px;
}

#result .label_c, .sinesp-collapse-control .label_c {
	font-size: 15px;
	text-transform: uppercase;
	color: #555;
	margin-right: 4px;
}

#result .label_v, .sinesp-collapse-control .label_v {
	font-size: 18px;
	color: #fd8600;
	font-weight: bold;
	letter-spacing: -2px;
	margin-left: 4px;
}

.sinesp-collapse-control .label_v:before {
	content: "( ";
}

.sinesp-collapse-control .label_v:after {
	content: " )";
}

#result .list>div>.row:nth-of-type(2)>div:first-child .form-group p:hover {
	cursor: pointer;
	text-decoration: underline;
}

#result div[hidden] .row:first-child>div:first-child .form-group p:hover
	{
	cursor: default;
	text-decoration: none;
}

#result .form-group label, .sinesp-collapse-control .form-group label,
	#modalD .form-group label {
	margin-bottom: 2px;
	color: #337ab7;
}

#result .list .form-group {
	margin-bottom: 7px;
}

#result .list div[hidden] .form-group {
	margin-bottom: 14px;
}

.result-lote .form-group {
	/* reduz espacamento dos itens do resultado do lote */
	margin-bottom: 0;
}

a.sinesp-collapse-control, a.sinesp-collapse-control:active, a.sinesp-collapse-control:hover,
	a.sinesp-collapse-control:focus, a.sinesp-collapse-control:focus:active,
	a.sinesp-collapse-control:focus:hover, a.sinesp-collapse-control:active:hover
	{
	text-decoration: none !important;
}

/*----------------------------------------------*/
.onReport #resultTabs {
	display: none !important;
}

.onReport #result {
	padding: 0;
	border: none;
}

.onReport .nav.nav-tabs .badge {
	font-size: 11px;
	background: transparent;
	color: #337ab7;
	letter-spacing: -1px;
}

.onReport h4 {
	margin-left: 0;
}

.sinesp-lbl-report {
	text-transform: uppercase;
}

.sinesp-lbl-report b {
	color: #fd8600;
}

.sinesp-btn-report {
	background: url(../img/report/report-1.png) no-repeat left center
		transparent !important;
	padding-left: 25px;
	margin-left: 15px;
	border: none;
	color: #3980b4;
	font-weight: bold;
}

.sinesp-btn-report:hover, .sinesp-btn-report:focus, .sinesp-btn-report:active
	{
	color: #3980b4 !important;
}

.sinesp-line-checkbox {
	margin-left: -17px !important;
}

.reportItemCtrl {
	text-align: right;
	position: relative;
}

.reportItemCtrl input[type="checkbox"] {
	margin-top: 10px;
}

.report-remove-checkbox {
	position: absolute;
	z-index: 2;
	top: 10px;
	right: -20px; /*-40px;*/
	width: 14px;
	height: 14px;
	text-decoration: none;
}

.sinesp-report-detaillink {
	background: transparent url("../img/report/ico-report-add-mini.png")
		no-repeat scroll center center;
	position: absolute;
	top: 10px;
	right: -20px;
	z-index: 2;
	width: 16px;
	height: 17px;
	cursor: pointer;
}

.reportRemoveLink {
	position: absolute;
	z-index: 2;
	top: 10px;
	right: -40px; /*-60px;*/
	width: 14px;
	height: 14px;
	text-decoration: none;
}

.reportRemoveLink .reportRemoveIcon {
	color: #555;
	opacity: .75;
	font-size: 12px;
	margin-top: 10px;
}

.reportRemoveLink .reportRemoveIcon:hover {
	color: #a94442;
	opacity: 1;
}

.report-service-result .list {
	padding: 5px 55px 5px 25px;
}

.report-service-result h5 {
	border-bottom: none;
	border-left: 5px solid #3a7eaf;
	padding-left: 8px;
	font-size: 16px;
	line-height: .85;
	margin-left: -13px;
	margin-top: 15px;
}

.reportDetails {
	padding-left: 45px;
}

.btn.reportCheck, .btn.reportCheck:focus, .btn.reportClean, .btn.reportClean:focus,
	.btn.reportPrint, .btn.reportPrint:focus {
	border: none;
	color: #3a7eaf;
	font-weight: bold;
	height: 36px;
	line-height: 30px;
	padding: 4px;
}

.reportBtnSeparator {
	margin: 0 16px;
	padding: 6px 0;
	border-left: 1px solid #3a7eaf;
	position: relative;
	top: 8px;
}

.btn.reportCheck, .btn.reportCheck:focus {
	background: url(../img/report/report-2.png) no-repeat 4px center
		transparent;
	padding-left: 38px;
	margin-top: 15px;
}

.btn.reportClean, .btn.reportClean:focus {
	background: url(../img/report/report-8b.png) no-repeat 4px center
		transparent;
	padding-left: 38px;
	margin-right: 30px;
	margin-top: 15px;
}

.btn.reportPrint, .btn.reportPrint:focus {
	background: url(../img/report/report-6.png) no-repeat 4px center
		transparent;
	padding-left: 38px;
	margin-top: 15px;
}

.btn.reportClean:hover, .btn.reportPrint:hover, .btn.reportCheck:hover,
	.btn.reportClean:focus:hover, .btn.reportPrint:focus:hover, .btn.reportCheck:hover:hover
	{
	color: #286090;
	text-decoration: underline;
}

.btn.loteNovo, .btn.loteNovo:focus {
	border: none;
	color: #3a7eaf;
	font-weight: bold;
	background: transparent;
}

.btn.loteNovo:hover:hover {
	color: #286090;
	text-decoration: underline;
}

.reportPhotos {
	margin-top: 15px;
}

.reportPhotos img {
	width: 96%;
	margin: 2%;
}

.reportPhotos div div {
	background: #eee;
}

.reportPhotos div div:nth-child(1) {
	min-height: 340px;
}

.reportPhotos div div:nth-child(2) {
	min-height: 70px;
	margin-bottom: 15px;
}

/* Fotos de Internos, Advogados, Visitantes */
.fotoBox {
	margin-top: 15px;
	margin-bottom: 15px;
	background: #eee;
}

.fotoBox img {
	width: 96%;
	margin: 2%;
}

/*----------------------------------------------*/
.sinesp-panel-body {
	padding: 5px 15px 15px;
	border: 1px solid #b4d0e5;
	border-top: none;
}

.sinesp-panel-body.complete {
	border: 1px solid #b4d0e5;
}

.sinesp-panel-body.complete .list .row:last-child {
	border-bottom: none;
}

.sinesp-panel-side {
	border: 1px solid #b4d0e5;
	border-top: none;
	border-bottom: none;
	padding: 15px 15px 0;
}

.sinesp-panel-top {
	background: url(../img/sinesp-infoseg-tab-bck-hor.png) repeat-x center
		top transparent;
	min-height: 40px;
}

.sinesp-panel-top>div {
	background: url(../img/sinesp-infoseg-tab-bck-ver.png) no-repeat left
		top transparent;
	min-height: 40px;
}

.sinesp-panel-top>div>div {
	background: url(../img/sinesp-infoseg-tab-bck-ver.png) no-repeat right
		top transparent;
	min-height: 40px;
}

.sinesp-panel-top>div>div .btn {
	border-radius: 4px 4px 0 0;
	margin: 4px 4px 0 0;
}

.sinesp-panel-top>div>div .btn-primary {
	background: #fff;
	border-bottom-color: #fff;
}

.sinesp-panel-top>div>div .btn-primary {
	background: #fff;
	border-color: #b4d0e5;
	border-bottom-color: #fff;
	color: #2878b5;
	font-weight: bold;
}

.sinesp-panel-top>div>div .btn-primary:active:hover {
	background: #fff;
	color: #2878b5;
}

.sinesp-panel-top>div>div .btn-primary .badge {
	color: #fff;
	background: #2878b5;
	padding: 3px;
	font-weight: bold;
}

.sinesp-panel-top>div>div .btn-default {
	background: #ddeafa;
	border-color: #b4d0e5;
	color: #555;
}

.sinesp-panel-top>div>div .btn-default:active:hover {
	background: #ddeafa;
	color: #555;
}

.sinesp-panel-top>div>div .btn-default .badge {
	color: #555;
	background: #eef;
	padding: 2px 3px 2px;
}

.sinesp-panel-top>div>div .btn .badge {
	font-size: 11px;
	background: transparent;
	color: #337ab7;
	letter-spacing: -1px;
}

.sinesp-panel-top>div>div .btn .badge:before {
	content: "( ";
	padding-left: 2px;
	padding-right: 2px;
}

.sinesp-panel-top>div>div .btn .badge:after {
	content: " )";
	padding-left: 2px;
	padding-right: 2px;
}

.sinesp-panel-top>div>div .btn.btn-primary .badge {
	color: #fd8600;
}

/*----------------------------------------------*/
.lazy-load-foto {
	background: url("../img/carousel/foto_background.png") center center
		no-repeat;
}

.lazy-load-assinatura {
	background: url("../img/carousel/assinatura_background.png") center
		center no-repeat;
}

.affix {
	top: 0;
	z-index: 9999;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background-color: #ffffff;
	border-color: #ffffff;
}

.affix a {
	color: #fff !important;
	padding: 15px !important;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.affix-top a {
	padding: 25px !important;
}

.affix+.container-fluid {
	padding-top: 70px;
}

.sinespt-container-affix {
	padding: 0
}

.sinespt-container-affix.container.affix {
	background: url(../img/sinesp-infoseg-tab-bck-hor.png) repeat-x center
		top #fff;
	border: 1px solid #b4d0e5;
	border-top: none;
	border-bottom: none;
	padding: 0 2px 0 4px;
}

/*----------------------------------------------*/

/* bootstrap */
.pagination {
	margin: 2px 0;
}

.pagination>li>a {
	border: none;
}

.pagination>li>a:hover {
	background: transparent;
	font-weight: bold;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	background: transparent;
	border: none;
	color: #337ab7;
	font-weight: bold;
	font-size: 120%;
	line-height: 1.1;
}

#mainContainer .collapse, #mainContainer .collapsing {
	padding: 0 0 0 15px;
}

.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
	color: #555;
	background: #ddeafa;
	border: 1px solid #b4d0e6;
	padding: 6px 15px;
	outline: none;
	margin-right: 4px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	color: #2878b5;
	border-bottom: 1px solid #fff;
}

.tab-content {
	padding: 15px;
	border: 1px solid red;
	border-top: none;
	border-color: #b4d0e6;
	background: #fff;
	margin-bottom: 15px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	border-color: #b4d0e6 #b4d0e6 transparent;
}

.nav-tabs {
	border-bottom-color: #b4d0e6;
}

.form-control-static {
	margin-bottom: 0;
	min-height: 0;
	padding-bottom: 0;
	padding-top: 0;
}

.btn-primary {
	background-color: #3980b4;
}

/*----------------------------------------------*/
/* jquery sticky */
.sticky-wrapper {
	margin-bottom: 20px;
}

.sticky-wrapper .slidebar {
	z-index: 99;
}

.sticky-wrapper.is-sticky {
}

/*----------------------------------------------*/
.sinesp-question-group {
	
}

.sinesp-question-group input[type=text] {
	background: #e2ebf4;
	border-color: #9fc6e5;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .075) inset;
}

.sinesp-question-group .input-group-addon {
	background: #3980b4;
	border-color: #3980b4;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .075) inset;
	color: #fff;
}

.sinesp-question-group button {
	border: none;
	background: transparent;
	padding: 0;
	color: #fff;
}

.sinesp-question-group button span.glyphicon-search:before {
	color: #fff;
}

/*----------------------------------------------*/
#help-wrapper {
	position: relative;
}

#help-wrapper label {
	margin-bottom: 0;
}

#help-wrapper p {
	margin-bottom: 15px;
}

#help {
	margin: 8px 18px 0 6px;
	font-size: 16px;
}

#help span {
	vertical-align: middle;
}

#help.btn {
	border: none;
	background: transparent;
	padding: 4px;
	font-size: 18px;
	color: #3980b4;
}

#help-message {
	position: absolute;
	z-index: 99999;
	top: 55px;
	right: 8px;
	padding: 15px 15px 5px;
}

#help-message dl {
	margin-top: 10px;
}

#help-message-pointer, #help-message-pointer-border {
	position: absolute;
	top: -22px;
	right: 10px;
	border-top: 12px solid transparent;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #d9edf7;
	width: 0;
	height: 0;
}

#help-message-pointer-border {
	top: -24px;
	border-bottom: 12px solid #bce8f1;
}

/*----------------------------------------------*/
.list {
	padding: 5px 15px;
}

.list > div:not(.alert) {
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 6px;
	padding-top: 4px;
}

.list-simple {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sinesp-counter-bar {
	position: relative;
}

.sinesp-counter-block {
	
}

.sinesp-counter-content {
	display: inline-block;
	padding: 8px;
	cursor: pointer;
}

.sinesp-counter-content.active {
	margin-bottom: 40px;
	background: #ddeafa;
}

.sinesp-counter-content.active .sinesp-counter-tab {
	display: block;
}

.sinesp-counter-content .glyphicon {
	color: #fd8600;
	margin-left: 4px;
}

.sinesp-counter-content.active .glyphicon {
	transform: rotate(180deg);
}

.sinesp-counter-tab {
	display: none;
	position: absolute;
	left: 0;
	width: 100%;
	margin-top: 8px;
	padding: 4px;
	background: #ddeafa;
}

.sinesp-counter-tab .btn:focus, .sinesp-counter-tab .btn:active,
	.sinesp-counter-tab .btn, .sinesp-counter-tab .btn.active {
	background: #71a8d1;
	color: #fff; /* #3980b4 */
	border: none;
	box-shadow: none;
	padding: 4px 6px;
	margin: 2px 2px 2px 0
}

.sinesp-counter-tab .btn span {
	color: #fff; /* #fd8600 */
	font-weight: bold;
	margin-left: 12px;
}

.sinesp-counter-tab .btn span:before {
	content: "(";
	padding-right: 2px;
}

.sinesp-counter-tab .btn span:after {
	content: ")";
	padding-left: 2px;
}

.sinesp-counter-tab .btn.active {
	background: #154c85;
}

.sinesp-counter-tab .btn.disabled {
	opacity: .5;
}

.sinesp-counter-tab .btn.disabled:hover {
	background: #71a8d1;
}

.sinesp-counter-tab .btn.disabled span {
	display: none;
}
/*
NÃO EXISTE MAIS CONTADOR GERAL
.cnt-todos .label.label-default {
	background: transparent;
	color: #3980b4;
	border: none;
	box-shadow: none;
	font-size: 100%;
	font-weight: normal;
}
.cnt-todos .label.label-default span {
	color: #fd8600;
	font-weight: bold;
}
*/

/*----------------------------------------------*/
#modalBlock {
	display: none;
	position: absolute;
	z-index: 99995;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, .25);
}

#modalD, #modalC {
	display: none;
	position: absolute;
	background: #fff;
	padding: 15px 15px 0;
	border: 1px solid #555;
	z-index: 99997;
	border-color: #337ab7;
	border-right-color: #fff;
	border-radius: 0 0 8px 8px;
}

#modalD {
	border-left: 10px solid #337ab7;
	border-radius: 8px 0 0 8px;
	box-shadow: 0 2px 0 rgba(200, 200, 200, .5);
}

#modalD p {
	width: auto;
	max-height: 40px;
	overflow: hidden;
}

#modalC {
	overflow-y: auto;
	z-index: 99996;
	padding: 15px;
	border-color: #337ab7;
	border-right-color: #337ab7;
	box-shadow: 2px 2px 0 rgba(200, 200, 200, .75);
}

#modalH {
	display: none;
	position: absolute;
	z-index: 99997;
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	background: #337ab7;
	font-weight: bold;
	color: #fff;
	border-radius: 8px 8px 0 0;
}

#modalH span {
	float: right;
	margin: 7px -5px 0 0;
	cursor: pointer;
}

/*----------------------------------------------*/

/* bootstrap modal */
.modal-backdrop {
	z-index: 99997;
}

.modal-backdrop.in {
	opacity: .25;
}

.modal {
	z-index: 99998;
}

#modalAlert .modal-dialog, #modalConfirm .modal-dialog {
	margin-top: 120px;
}

.modal-content {
	border: 1px solid #337ab7;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
	border-radius: 8px;
}

.modal-header {
	padding: 5px 15px;
	background: #337ab7;
	border-radius: 6px 6px 0 0;
}

.modal-header h4 {
	font-size: 14px;
	font-weight: bold;
	border: none;
	color: #fff;
}

.modal-header button.close span {
	color: #fff;
}

.modal-header button.close {
	opacity: 1;
	margin-right: -5px;
}

.modal-header button.close:hover {
	opacity: 1;
}

.modal-footer {
	border-top: none;
}

.modal-options {
	margin-left: 20px;
}

/*----------------------------------------------*/
#serviceBlock {
	display: none;
	position: absolute;
	z-index: 99998;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, .25);
}

#serviceLoader {
	display: none;
	position: fixed;
	left: 15px;
	bottom: 0;
	margin-bottom: 50px;
	z-index: 99999;
}

.serviceLoader {
	position: relative;
}

.serviceLoader:after {
	content: " ";
	display: block;
	position: absolute;
	background: url(../img/loader-n.gif) no-repeat center center;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 100%;
	margin-top: -10px;
	margin-left: 10px;
}

li a.serviceLoader {
	padding-right: 30px !important;
}

li a.serviceLoader:after {
	margin-left: -25px;
}

/*----------------------------------------------*/
#modalH {
	visibility: hidden;
}

.sinesp-popover-modalC {
	position: absolute;
	z-index: 99996;
	background: #fff;
	padding: 15px;
	border-radius: 0 0 8px 8px;
	border: 1px solid #337ab7 !important;
	overflow-y: auto;
	visibility: hidden;
}

.sinesp-popover-photo-carousel {
	float: left;
	margin-right: 15px;
	height: 100%;
}

.sinesp-popover-photo-carousel+div {
	margin-left: 215px;
}

.sinesp-popover-photo-carousel .carousel {
	background: transparent;
	padding: 5px 15px;
	min-height: 210px;
	min-width: 200px;
	width: 200px;
}

.sinesp-popover-photo-carousel .carousel img {
	width: 200px;
}

.sinesp-popover-photo-carousel .carousel-control.left,
	.sinesp-popover-photo-carousel .carousel-control.right {
	background-image: none;
	background-color: transparent;
}

.sinesp-popover-photo-carousel .glyphicon-chevron-left:before,
	.sinesp-popover-photo-carousel .glyphicon-chevron-right:before {
	color: #fd8600;
	font-size: 20px;
}

/*----------------------------------------------*/
#global-message p:first-child {
	display: inline;
}

#global-message>p+p {
	margin-left: 25px;
}

.alert {
	position: relative;
	margin-top: 5px;
}

.alert span.glyphicon-remove {
	position: absolute;
	top: 15px;
	right: 15px;
	line-height: 1.75;
	font-size: 12px;
	cursor: pointer;
}

/*----------------------------------------------*/
.sinesp-notification-alert p.form-control-static:not(:empty):before {
	margin-left: -8px;
}

.sinesp-notification-alert p.form-control-static:before {
	font-family: 'Glyphicons Halflings';
	padding: 0 4px 0 0;
	content: "";
	color: #a91412;
}

.sinesp-notification-alert .alert-text {
	font-style: italic;
	color: #a91412;
}

.sinesp-notification-alert .info-text {
	font-style: italic;
}

.sinesp-notification-flag {
	position: relative;
}

.sinesp-notification-flag p.form-control-static {
	padding-left: 36px;
}

.sinesp-notification-flag p.form-control-static:before {
	background: url(../img/flags_3.png) no-repeat 50px 50px transparent;
	content: " ";
	display: block;
	float: left;
	height: 20px;
	left: 1px;
	top: 21px;
	position: absolute;
	width: 30px;
}

.sinesp-notification-flag p.form-control-static:hover:after {
	content: "Estado de origem";
	background: #111;
	color: #fff;
	display: block;
	left: 2px;
	padding: 2px 6px;
	position: absolute;
	z-index: 5;
	top: 48px;
}

.sinesp-notification-flag.AC p.form-control-static:before {
	background-position: 0 0;
}

.sinesp-notification-flag.AC p.form-control-static:hover:after {
	content: "Acre";
}

.sinesp-notification-flag.AL p.form-control-static:before {
	background-position: -39px 0;
}

.sinesp-notification-flag.AL p.form-control-static:hover:after {
	content: "Alagoas";
}

.sinesp-notification-flag.AM p.form-control-static:before {
	background-position: -78px 0;
}

.sinesp-notification-flag.AM p.form-control-static:hover:after {
	content: "Amazonas";
}

.sinesp-notification-flag.AP p.form-control-static:before {
	background-position: -115px 0;
}

.sinesp-notification-flag.AP p.form-control-static:hover:after {
	content: "Amapá";
}

.sinesp-notification-flag.BA p.form-control-static:before {
	background-position: -154px 0;
}

.sinesp-notification-flag.BA p.form-control-static:hover:after {
	content: "Bahia";
}

.sinesp-notification-flag.CE p.form-control-static:before {
	background-position: -192px 0;
}

.sinesp-notification-flag.CE p.form-control-static:hover:after {
	content: "Ceará";
}

.sinesp-notification-flag.ES p.form-control-static:before {
	background-position: -229px 0;
}

.sinesp-notification-flag.ES p.form-control-static:hover:after {
	content: "Espírito Santo";
}

.sinesp-notification-flag.GO p.form-control-static:before {
	background-position: 0 -32px;
}

.sinesp-notification-flag.GO p.form-control-static:hover:after {
	content: "Goiás";
}

.sinesp-notification-flag.MA p.form-control-static:before {
	background-position: -39px -32px;
}

.sinesp-notification-flag.MA p.form-control-static:hover:after {
	content: "Maranhão";
}

.sinesp-notification-flag.MT p.form-control-static:before {
	background-position: -78px -32px;
}

.sinesp-notification-flag.MT p.form-control-static:hover:after {
	content: "Mato Grosso";
}

.sinesp-notification-flag.MS p.form-control-static:before {
	background-position: -115px -32px;
}

.sinesp-notification-flag.MS p.form-control-static:hover:after {
	content: "Mato Grosso do Sul";
}

.sinesp-notification-flag.MG p.form-control-static:before {
	background-position: -154px -32px;
}

.sinesp-notification-flag.MG p.form-control-static:hover:after {
	content: "Minas Gerais";
}

.sinesp-notification-flag.PA p.form-control-static:before {
	background-position: -192px -32px;
}

.sinesp-notification-flag.PA p.form-control-static:hover:after {
	content: "Pará";
}

.sinesp-notification-flag.PB p.form-control-static:before {
	background-position: -229px -32px;
}

.sinesp-notification-flag.PB p.form-control-static:hover:after {
	content: "Paraíba";
}

.sinesp-notification-flag.PR p.form-control-static:before {
	background-position: 0px -64px;
}

.sinesp-notification-flag.PR p.form-control-static:hover:after {
	content: "Paraná";
}

.sinesp-notification-flag.PE p.form-control-static:before {
	background-position: -39px -64px;
}

.sinesp-notification-flag.PE p.form-control-static:hover:after {
	content: "Pernambuco";
}

.sinesp-notification-flag.PI p.form-control-static:before {
	background-position: -78px -64px;
}

.sinesp-notification-flag.PI p.form-control-static:hover:after {
	content: "Piauí";
}

.sinesp-notification-flag.RN p.form-control-static:before {
	background-position: -115px -64px;
}

.sinesp-notification-flag.RN p.form-control-static:hover:after {
	content: "Rio Grande do Norte";
}

.sinesp-notification-flag.RS p.form-control-static:before {
	background-position: -154px -64px;
}

.sinesp-notification-flag.RS p.form-control-static:hover:after {
	content: "Rio Grande do Sul";
}

.sinesp-notification-flag.RJ p.form-control-static:before {
	background-position: -192px -64px;
}

.sinesp-notification-flag.RJ p.form-control-static:hover:after {
	content: "Rio de Janeiro";
}

.sinesp-notification-flag.RO p.form-control-static:before {
	background-position: -229px -64px;
}

.sinesp-notification-flag.RO p.form-control-static:hover:after {
	content: "Rondônia";
}

.sinesp-notification-flag.DP p.form-control-static:before {
	background-position: -261px -64px;
}

.sinesp-notification-flag.DP p.form-control-static:hover:after {
	content: "Sistema Penitenciário Federal";
}

.sinesp-notification-flag.RR p.form-control-static:before {
	background-position: -1px -96px;
}

.sinesp-notification-flag.RR p.form-control-static:hover:after {
	content: "Roraima";
}

.sinesp-notification-flag.SC p.form-control-static:before {
	background-position: -39px -96px;
}

.sinesp-notification-flag.SC p.form-control-static:hover:after {
	content: "Santa Catarina";
}

.sinesp-notification-flag.SP p.form-control-static:before {
	background-position: -78px -96px;
}

.sinesp-notification-flag.SP p.form-control-static:hover:after {
	content: "São Paulo";
}

.sinesp-notification-flag.SE p.form-control-static:before {
	background-position: -115px -96px;
}

.sinesp-notification-flag.SE p.form-control-static:hover:after {
	content: "Sergipe";
}

.sinesp-notification-flag.TO p.form-control-static:before {
	background-position: -154px -96px;
}

.sinesp-notification-flag.TO p.form-control-static:hover:after {
	content: "Tocantins";
}

.sinesp-notification-flag.DF p.form-control-static:before {
	background-position: -192px -96px;
}

.sinesp-notification-flag.DF p.form-control-static:hover:after {
	content: "Distrito Federal";
}

.sinesp-notification-flag.PF p.form-control-static:before {
	background-position: -229px -96px;
}

.sinesp-notification-flag.PF p.form-control-static:hover:after {
	content: "Polícia Federal";
}

.sinesp-notification-flag.JF p.form-control-static:before {
	background-position: -258px -96px;
}

.sinesp-notification-flag.JF p.form-control-static:hover:after {
	content: "Justiça Federal";
}

.sinesp-mercosul-notification-flag {
	position: relative;
}

.sinesp-mercosul-notification-flag p.form-control-static {
	padding-left: 36px;
}

.sinesp-mercosul-notification-flag p.form-control-static:before {
	background: url(../img/flags_mercosul.png) no-repeat 50px 50px
		transparent;
	content: " ";
	display: block;
	float: left;
	height: 20px;
	left: 1px;
	top: 21px;
	position: absolute;
	width: 30px;
}

.sinesp-mercosul-notification-flag p.form-control-static:hover:after {
	content: "País da Informação";
	background: #111;
	color: #fff;
	display: block;
	left: 2px;
	padding: 2px 6px;
	position: absolute;
	z-index: 5;
	top: 48px;
}

.sinesp-mercosul-notification-flag.ARGENTINA p.form-control-static:before {
	background-position: 0 0;
}

.sinesp-mercosul-notification-flag.ARGENTINA p.form-control-static:hover:after {
	content: "Argentina";
}

.sinesp-mercosul-notification-flag.BRASIL p.form-control-static:before {
	background-position: -38px 0;
}

.sinesp-mercosul-notification-flag.BRASIL p.form-control-static:hover:after
	{
	content: "Brasil";
}

.sinesp-mercosul-notification-flag.PARAGUAI p.form-control-static:before {
	background-position: -76px 0;
}

.sinesp-mercosul-notification-flag.PARAGUAI p.form-control-static:hover:after
	{
	content: "Paraguai";
}

.sinesp-mercosul-notification-flag.URUGUAI p.form-control-static:before {
	background-position: -114px 0;
}

.sinesp-mercosul-notification-flag.URUGUAI p.form-control-static:hover:after
	{
	content: "Uruguai";
}

.sinesp-mercosul-notification-flag.VENEZUELA p.form-control-static:before {
	background-position: -152px 0;
}

.sinesp-mercosul-notification-flag.VENEZUELA p.form-control-static:hover:after
	{
	content: "Venezuela";
}

.sinesp-mercosul-notification-flag.BOLIVIA p.form-control-static:before {
	background-position: -190px 0;
}

.sinesp-mercosul-notification-flag.BOLIVIA p.form-control-static:hover:after {
	content: "Bolívia";
}

.sinesp-mercosul-notification-flag.CHILE p.form-control-static:before {
	background-position: 0 -30px;
}

.sinesp-mercosul-notification-flag.CHILE p.form-control-static:hover:after {
	content: "Chile";
}

.sinesp-mercosul-notification-flag.COLOMBIA p.form-control-static:before {
	background-position: -38px -30px;
}

.sinesp-mercosul-notification-flag.COLOMBIA p.form-control-static:hover:after {
	content: "Colômbia";
}

.sinesp-mercosul-notification-flag.EQUADOR p.form-control-static:before {
	background-position: -76px -30px;
}

.sinesp-mercosul-notification-flag.EQUADOR p.form-control-static:hover:after {
	content: "Equador";
}

.sinesp-mercosul-notification-flag.GUIANA p.form-control-static:before {
	background-position: -114px -30px;
}

.sinesp-mercosul-notification-flag.GUIANA p.form-control-static:hover:after {
	content: "Guiana";
}

.sinesp-mercosul-notification-flag.PERU p.form-control-static:before {
	background-position: -152px -30px;
}

.sinesp-mercosul-notification-flag.PERU p.form-control-static:hover:after {
	content: "Peru";
}

.sinesp-mercosul-notification-flag.SURINAME p.form-control-static:before {
	background-position: -190px -30px;
}

.sinesp-mercosul-notification-flag.SURINAME p.form-control-static:hover:after {
	content: "Suriname";
}

.sinesp-notification-ischecked span {
	color: green;
	padding-left: 15px;
	font-size: 120%;
}

.res-icon-green {
	color: green;
	padding-left: 25px;
	font-size: 120%;
}

.res-icon-red {
	color: #a91412;
	padding-left: 25px;
	font-size: 120%;
}

.res-icon-yellow {
	color: #ff8a00;
	padding-left: 25px;
	font-size: 120%;
}

.label_numreg {
	font-size: 18px;
	color: #fd8600;
	font-weight: bold;
	margin-left: 4px;
	margin-right: 4px;
}

/*----------------------------------------------*/
.alert.alert-danger:before {
	content: "";
	font-family: 'Glyphicons Halflings';
	vertical-align: sub;
	padding-right: 8px;
}

/*----------------------------------------------*/
#result div .checkbox {
	z-index: 2;
	margin: 0 0 0 -2px;
}

/*----------------------------------------------*/
.sinesp-filter-row-small, .sinesp-filter-row-medium,
	.sinesp-filter-row-big {
	max-width: 280px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.sinesp-filter-row-medium {
	max-width: 340px;
}

.sinesp-filter-row-big {
	max-width: 400px;
}

/*----------------------------------------------*/
#reportCounter {
	position: fixed;
	top: 250px;
	left: 0;
	width: 55px;
	border: 1px solid #b4d0e5;
	border-left: none;
	background: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
}

button.reportClose {
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background: transparent;
	color: #e1962d;
	font-size: 80%;
}

button.reportProcess {
	background: url(../img/report/report-1.png) no-repeat right center
		scroll transparent;
	height: 36px;
	border: none;
	border-radius: 8px;
}

#reportCounter button.reportProcess {
	display: block;
	margin: 15px auto;
	background-position: 2px center;
}

#searchContainer button.reportProcess {
	width: auto;
	padding: 4px 30px 4px 2px;
	font-weight: bold;
	color: #3a7eaf;
	margin-right: 25px;
}

#searchContainer button.reportProcess:hover {
	color: #286090;
}

button.reportUp {
	display: block;
	margin: 25px auto 35px;
	width: 25px;
	height: 20px;
	border: none;
	background: transparent;
	color: #3a7eaf;
	font-size: 115%;
}

button.reportUp:after {
	content: " ";
	display: block;
	width: 36px;
	margin-top: 20px;
	margin-left: -6px;
	height: 1px;
	background: #3a7eaf;
	position: relative;
	z-index: 2;
}

#reportCounter span {
	display: block;
}

span.reportCounter {
	color: #e1962d;
	font-size: 150%;
	text-align: center;
	vertical-align: sub;
}

span.reportInfoText {
	text-transform: uppercase;
	text-align: center;
}

span.reportBtnText {
	
}

span.reportBtnSep {
	margin: 0 10px 0 8px;
	padding: 4px 0;
	border-left: 1px solid #3a7eaf;
}

button.reportProcess:hover span.reportBtnText, button.reportProcess:hover span.reportInfoText,
	button.reportProcess:active span.reportBtnText, button.reportProcess:active.reportInfoText
	{
	text-decoration: underline;
}

button.reportProcess:hover span.reportCounter {
	color: #d1861d;
}

.addToReport {
	background: url(../img/report/ico-report-add.png) no-repeat 20px 0
		transparent;
	padding: 2px 0 7px 50px !important;
}

.addToReport input[type="checkbox"]+span:after {
	content: "Selecionar todos";
}

.addToReport input[type="checkbox"]:checked+span:after {
	content: "Remover todos";
}

.addToReport input[type=checkbox] {
	margin-left: -52px;
}

.reportHighlight {
	background: #d9edf7;
	border: 1px solid #bce8f1;
	padding: 10px 10px 6px;
	margin-top: 10px !important;
	margin-bottom: 15px !important;
}

.reportHighlight .addToReport input[type="checkbox"]+span:after {
	content: "Adicionar detalhes a Relatório";
}

.reportHighlight .addToReport input[type="checkbox"]:checked+span:after
	{
	content: "Remover detalhes do Relatório";
}

.reportHighlight .addToReport input[type="checkbox"][data-servico="SRV_INDICE_NACIONAL"]+span:after
	{
	content: "Adicionar dados gerais ao Relatório";
}

.reportHighlight .addToReport input[type="checkbox"][data-servico="SRV_INDICE_NACIONAL"]:checked+span:after
	{
	content: "Remover dados gerais do Relatório";
}

.reportHighlight .addToReport  input[type="checkbox"][data-sub-tipo="MD"]+span:after
	{
	content: "Adicionar detalhamento ao Relatório";
}

.reportHighlight .addToReport input[type="checkbox"][data-sub-tipo="MD"]:checked+span:after
	{
	content: "Remover detalhamento do Relatório";
}

.reportHighlight .addToReport  input[type="checkbox"][data-sub-tipo="MP"]+span:after
	{
	content: "Adicionar procedimentos ao Relatório";
}

.reportHighlight .addToReport input[type="checkbox"][data-sub-tipo="MP"]:checked+span:after
	{
	content: "Remover procedimentos do Relatório";
}

.reportHighlight .addToReport  input[type="checkbox"][data-sub-tipo="MM"]+span:after
	{
	content: "Adicionar movimentações penitenciárias ao Relatório";
}

.reportHighlight .addToReport input[type="checkbox"][data-sub-tipo="MM"]:checked+span:after
	{
	content: "Remover movimentações penitenciárias do Relatório";
}

.reportHighlight .addToReport  input[type="checkbox"][data-sub-tipo="MR"]+span:after
	{
	content: "Adicionar processos ao Relatório";
}

.reportHighlight .addToReport input[type="checkbox"][data-sub-tipo="MR"]:checked+span:after
	{
	content: "Remover processos do Relatório";
}

.reportHighlight .addToReport  input[type="checkbox"][data-sub-tipo="SA"]+span:after
	{
	content: "Adicionar advogados ao Relatório";
}

.reportHighlight .addToReport input[type="checkbox"][data-sub-tipo="SA"]:checked+span:after
	{
	content: "Remover advogados do Relatório";
}

.reportHighlight .addToReport  input[type="checkbox"][data-sub-tipo="SP"]+span:after
	{
	content: "Adicionar visitantes ao Relatório";
}

.reportHighlight .addToReport input[type="checkbox"][data-sub-tipo="SP"]:checked+span:after
	{
	content: "Remover visitantes do Relatório";
}

.reportHighlight .addToReport  input[type="checkbox"][data-sub-tipo="SV"]+span:after
	{
	content: "Adicionar visitas ao Relatório";
}

.reportHighlight .addToReport input[type="checkbox"][data-sub-tipo="SV"]:checked+span:after
	{
	content: "Remover visitas do Relatório";
}

.reportHighlight .addToReport  input[type="checkbox"][data-sub-tipo="ST"]+span:after
	{
	content: "Adicionar transferências ao Relatório";
}

.reportHighlight .addToReport input[type="checkbox"][data-sub-tipo="ST"]:checked+span:after
	{
	content: "Remover transferências do Relatório";
}

.status-message {
	position: fixed;
	bottom: 66px;
	left: 100px;
	color: #fff;
	text-align: right;
	background-color: #3980b4;
	z-index: 99999;
	padding: 6px 9px;
	border-radius: 14px;
	opacity: .9;
}

/*----------------------------------------------*/
#resultPrint {
	display: none;
	text-align: center;
	font-size: 18pt;
	padding-top: 4.5cm;
}

@page :left {
	margin-left: .25cm;
}

@page :right {
	margin-left: .25cm;
}

/*
@page:right { 
	@bottom-left {
	    margin: 10pt 0 30pt 0;
	    border-top: .25pt solid #666;
	    content: element(footer);
	    font-size: 9pt;
	    color: #333;
	}
}

@page:left { 
	@bottom-left {
	    margin: 10pt 0 30pt 0;
	    border-top: .25pt solid #666;
	    content: "Secretaria Nacional de Segurança Pública - Senasp";
	    font-size: 9pt;
	    color: #333;
	}
}
*/

/*@page {
	@bottom-center { content: "Esta página foi deixada em branca intencionalmente..." }
}*/

@media print {
	* {
		font-size: 10pt !important;
		color: #555;
	}
	label {
		color: #333;
	}
	h1 {
		font-size: 14pt !important;
		border-color: #aaa;
	}
	h4, h5 {
		border-color: #777;
	}
	#menu_sinesp, #menu_sinesp_pad {
		display: none;
	}
	#searchContainer, #reportCounter, .reportCheck, .reportClean,
		.reportPrint, #footer, #cnt-tabs, #result {
		display: none !important;
	}
	#resultPrint {
		display: block;
	}
	.onReport #resultPrint {
		display: none;
	}
	.onReport #result {
		display: block !important;
	}
	#sinesp-header {
		display: none;
	}
	.sinesp-notification-flag p.form-control-static::before,
		.sinesp-notification-flag p.form-control-static::after,
		.sinesp-notification-flag p.form-control-static::hover::after {
		display: none;
	}
	.sinesp-notification-flag p.form-control-static {
		padding-left: 0;
	}

	/* abas */
	#result .nav.nav-tabs {
		display: none;
	}
	#result .tab-pane {
		display: block;
	}
	.tab-content {
		border: none;
		padding: 0;
	}

	/* mensagens */
	.alert {
		display: none;
	}
	#serviceLoader {
		display: none;
	}
	/*
	.container {
		width: 100% !important;
		margin: 0 !important;
		padding: 0 15px !important;
	}

	.col-md-1 {
		float: left !important;
		width: 8.33333% !important;
	}
	.col-md-2 {
		float: left !important;
		width: 16.6667% !important;
	}
	.col-md-3 {
		float: left !important;
		width: 25% !important;
	}
	.col-md-4 {
		float: left !important;
		width: 33.3333% !important;
	}
	.col-md-5 {
		float: left !important;
		width: 41.6667% !important;
	}
	.col-md-6 {
		float: left !important;
		width: 50% !important;
	}
	.col-md-7 {
		float: left !important;
		width: 58.3333% !important;
	}
	.col-md-8 {
		float: left !important;
		width: 66.6667% !important;
	}
	.col-md-9 {
		float: left !important;
		width: 75% !important;
	}
	.col-md-10 {
		float: left !important;
		width: 83.3333% !important;
	}
	.col-md-11 {
		float: left !important;
		width: 91.6667% !important;
	}
	.col-md-12 {
		float: left !important;
		width: 100% !important;
	}*/
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
		.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
		.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
		.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
		.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
		.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

#geral #embrulho #cabecalho-mn-sinesp {
	height: 41px !important;
}

.cabecalho-unico-sinesp #geral #menusupdireiro #sair {
	margin-top: -4px;
}

.pagination.bootpag .first a, .pagination.bootpag .last a, .pagination.bootpag .prev a,
	.pagination.bootpag .next a {
	display: inline-block;
	background: url(../img/ico-set-blue.png) no-repeat;
	width: 14px;
	height: 14px;
	vertical-align: middle;
	margin: 10px 10px 6px;
	padding: 0;
	text-indent: -100%;
	overflow: hidden;
}

.pagination.bootpag .first a {
	background-position: -82px -162px;
}

.pagination.bootpag .last a {
	background-position: -66px -162px;
}

.pagination.bootpag .prev a {
	background-position: -49px -162px;
}

.pagination.bootpag .next a {
	background-position: -34px -162px;
}

.pagination.bootpag .first.disabled a, .pagination.bootpag .last.disabled a,
	.pagination.bootpag .prev.disabled a, .pagination.bootpag .next.disabled a
	{
	background-image: url(../img/ico_cinza.png);
}

.reportRemoveSelected {
	margin-right: 25px;
}

.reportRemoveSelected span {
	padding-left: 10px;
}

#ctrlt-backToTop {
	display: none;
	position: fixed;
	bottom: 45px;
	right: 15px;
	cursor: pointer;
	text-align: center;
	padding: 10px;
	font-size: 13px;
	border-radius: 50%;
	background: #f3f3f3;
	transition: background .4s;
}

#ctrlt-backToTop:hover {
	background: #eee;
	cursor: pointer;
}

#ctrlt-backToTop span {
	background: url(../img/report/report-5.png) no-repeat center center;
	display: block;
	margin: 0 auto;
	width: 16px;
	height: 18px;
}

.collapse .list .col-md-1, .list-PessoaFisica.list .col-md-1 {
	padding-left: 4px !important;
}

.collapse .list .col-md-1, .list-PessoaFisica.list .col-md-1:first-child
	{
	padding-left: 15px !important;
}

.gi-1p5x {
	font-size: 1.5em;
}

/* lote */
.uploadBloack {
	position: relative;
	width: 295px;
}

.uploadBloack div:hover input[type="button"] {
	display: block;
	background-color: #286090;
	border-color: #204d74;
	color: #fff;
}

.uploadBloack div:hover input[type="text"] {
	background-color: #286090;
	color: #fff;
	/*padding-left: 30px;*/
}

.uploadBloack input[type="file"] {
	position: relative;
	z-index: 2;
	opacity: 0;
	width: 295px;
	height: 35px;
	cursor: pointer;
}

.uploadBloack input[type="button"] {
	position: absolute;
	top: 0;
	width: 290px;
	padding-left: 30px;
}

.uploadBloack input[type="text"] {
	display: none;
	position: absolute;
	top: 0;
	width: 290px;
	padding-left: 30px;
}

.uploadBloack span.glyphicon {
	position: absolute;
	top: 12px;
	left: 10px;
	width: 20px;
	height: 20px;
	color: #fff;
}

.uploadBloack.active span.glyphicon {
	color: #555;
}

.uploadBloack.active div:hover span.glyphicon {
	color: #fff;
}

.linkAcaoLote {
	font-size: 14px;
	margin-left: 5px;
	margin-right: 10px;
	white-space: nowrap;
}

.loteHeader {
	padding-bottom: 15px;
}

/* datepicker */
.datepicker.date {
	max-width: 160px;
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled,
	.datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover
	{
	background: #3980b4 !important;
	color: #fff;
	border-radius: 2px;
}

.batch-processReportLink {
	padding-right: 30px;
	margin-left: 5px;
	background: transparent url("../img/report/report-1.png") no-repeat
		scroll right center;
}

.batch-header-file {
	background: #d9edf7;
	margin-top: 10px;
	margin-right: -15px;
	margin-left: -15px;
	padding-top: 15px;
	padding-right: 15px;
	padding-left: 15px;
}

.batch-header-warn {
	background: #d9edf7;
	margin-right: -15px;
	margin-left: -15px;
	padding-right: 15px;
	padding-left: 15px;
}

.batch-header-warn .list>div:not(.alert) {
	border-bottom: 1px solid #c6c6e6;
}

.datepicker.dropdown-menu {
	padding: 5px 10px;
}

.datepicker .day {
	cursor: pointer;
}

.datepicker .datepicker-switch {
	text-align: center;
}

#resultHeaderContainer {
	margin-bottom: 15px;
}

#result.result-lote>div>.row {
	border-top: 1px solid #e6e6e6 !important;
	padding-top: 10px;
	font-size: 110%;
}

#result.result-lote>div:first-child>.row {
	border-top: none !important;
}

.cnt-badge {
	font-size: 11px;
	background: transparent;
	color: #337ab7;
	letter-spacing: -1px;
	padding: 3px;
	font-weight: bold;
}

.cnt-badge:before {
	content: "( ";
}

.cnt-badge:after {
	content: " )";
}

.borda {
	border: 1px solid #397fb0;
	padding-left: 0;
	padding-right: 0;
}

.quadro-totais-label {
	display: block;
	text-align: center;
	margin-bottom: 2px;
}

.quadro-totais-p {
	margin-bottom: 2px;
	text-align: center;
}

/* Gambi para label não ficar strong */
.radio-inline>label {
	font-weight: 400;
}

.newsNotification {
	display: none;
	color: orange;
}

.advanced-search-alert {
	display: none;
	color: red;
}

.labelPainelHeader {
	margin-bottom: 2px;
    color: #337ab7;
    font-size: 15px;
	/* text-transform: uppercase; */
	margin-right: 4px;
}

.labelRight {
	text-align: right; 
	width: 100%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  	display: none !important;
}