/******* Workaround for Primefaces issue 5355: Fileupload needs double-click on Internet Explorer 10 */
.fileinput-button input {
	-moz-transform: none !important;
	border: none !important;
	border-width: 0 !important;
	transform: translate(-300px, 0) scale(4) !important;
	font-size: 23px !important;
}

*+html .fileinput-button {
	line-height: none !important;
	padding: 2px 15px !important;
}
/******* Fim Workaround */

/* css dos componentes do primefaces */
.ui-wizard-step-title {
	font-size: 13px !important;
	font-family: Arial;
}

.ui-widget {
	font-family: Arial;
	font-size: 1.1em;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible;
	z-index: 20;
	background-color: #f2f2f2;
}

.ui-layout-unit {
	padding: 0 !important;
}

.ui-widget-content {
	border: 0;
	background-color: #f2f2f2;
}

.ui-layout-north {
	z-index: 20 !important;
	overflow: visible;
}

.unit-content {
	padding: 0 !important;
}

.ui-state-default {
	box-shadow: none;
}

.ui-inputfield {
	box-shadow: none !important;
}

.ui-dialog-titlebar {
	background: #025b95 !important;
	color: #FFFFFF !important;
	font-weight: normal;
	box-shadow: 0 !important;
	text-shadow: none !important;
}

.ui-inputfield,.ui-widget-content .ui-inputfield,.ui-widget-header .ui-inputfield
	{
	background: none;
}

.ui-tree .ui-chkbox {
	display: inline;
}

.ui-tree .ui-chkbox-box {
	vertical-align: middle;
}

.ui-growl {
	z-index: 2500 !important;
}

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url(../images/ui-icons_666666_256x240.png);
}
.ui-widget-header .ui-icon {
	background-image: url(../images/ui-icons_666666_256x240.png);
}
.ui-state-default .ui-icon {
	background-image: url(../images/ui-icons_666666_256x240.png);
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url(../images/ui-icons_666666_256x240.png);
}
.ui-state-active .ui-icon {
	background-image: url(../images/ui-icons_666666_256x240.png);
}
.ui-state-highlight .ui-icon {
	background-image: url(../images/ui-icons_666666_256x240.png);
}
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
	background-image: url(../images/ui-icons_666666_256x240.png);
}

/* positioning */
.ui-icon-blank { background-position: 16px 16px; }
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -368px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/* positioning */
.ui-icon-blank-w { background-position: 16px 16px; }
.ui-icon-carat-1-n-white { background-position: 0 -240px; }
.ui-icon-carat-1-ne-white { background-position: -16px -240px; }
.ui-icon-carat-1-e-white { background-position: -32px -240px; }
.ui-icon-carat-1-se-white { background-position: -48px -240px; }
.ui-icon-carat-1-s-white { background-position: -64px -240px; }
.ui-icon-carat-1-sw-white { background-position: -80px -240px; }
.ui-icon-carat-1-w-white { background-position: -96px -240px; }
.ui-icon-carat-1-nw-white { background-position: -112px -240px; }
.ui-icon-carat-2-n-s-white { background-position: -128px -240px; }
.ui-icon-carat-2-e-w-white { background-position: -144px -240px; }
.ui-icon-triangle-1-n-white { background-position: 0 -256px; }
.ui-icon-triangle-1-ne-white { background-position: -16px -256px; }
.ui-icon-triangle-1-e-white { background-position: -32px -256px; }
.ui-icon-triangle-1-se-white { background-position: -48px -256px; }
.ui-icon-triangle-1-s-white { background-position: -64px -256px; }
.ui-icon-triangle-1-sw-white { background-position: -80px -256px; }
.ui-icon-triangle-1-w-white { background-position: -96px -256px; }
.ui-icon-triangle-1-nw-white { background-position: -112px -256px; }
.ui-icon-triangle-2-n-s-white { background-position: -128px -256px; }
.ui-icon-triangle-2-e-w-white { background-position: -144px -256px; }
.ui-icon-arrow-1-n-white { background-position: 0 -272px; }
.ui-icon-arrow-1-ne-white { background-position: -16px -272px; }
.ui-icon-arrow-1-e-white { background-position: -32px -272px; }
.ui-icon-arrow-1-se-white { background-position: -48px -272px; }
.ui-icon-arrow-1-s-white { background-position: -64px -272px; }
.ui-icon-arrow-1-sw-white { background-position: -80px -272px; }
.ui-icon-arrow-1-w-white { background-position: -96px -272px; }
.ui-icon-arrow-1-nw-white { background-position: -112px -272px; }
.ui-icon-arrow-2-n-s-white { background-position: -128px -272px; }
.ui-icon-arrow-2-ne-sw-white { background-position: -144px -272px; }
.ui-icon-arrow-2-e-w-white { background-position: -160px -272px; }
.ui-icon-arrow-2-se-nw-white { background-position: -176px -272px; }
.ui-icon-arrowstop-1-n-white { background-position: -192px -272px; }
.ui-icon-arrowstop-1-e-white { background-position: -208px -272px; }
.ui-icon-arrowstop-1-s-white { background-position: -224px -272px; }
.ui-icon-arrowstop-1-w-white { background-position: -240px -272px; }
.ui-icon-arrowthick-1-n-white { background-position: 0 -288px; }
.ui-icon-arrowthick-1-ne-white { background-position: -16px -288px; }
.ui-icon-arrowthick-1-e-white { background-position: -32px -288px; }
.ui-icon-arrowthick-1-se-white { background-position: -48px -288px; }
.ui-icon-arrowthick-1-s-white { background-position: -64px -288px; }
.ui-icon-arrowthick-1-sw-white { background-position: -80px -288px; }
.ui-icon-arrowthick-1-w-white { background-position: -96px -288px; }
.ui-icon-arrowthick-1-nw-white { background-position: -112px -288px; }
.ui-icon-arrowthick-2-n-s-white { background-position: -128px -288px; }
.ui-icon-arrowthick-2-ne-sw-white { background-position: -144px -288px; }
.ui-icon-arrowthick-2-e-w-white { background-position: -160px -288px; }
.ui-icon-arrowthick-2-se-nw-white { background-position: -176px -288px; }
.ui-icon-arrowthickstop-1-n-white { background-position: -192px -288px; }
.ui-icon-arrowthickstop-1-e-white { background-position: -208px -288px; }
.ui-icon-arrowthickstop-1-s-white { background-position: -224px -288px; }
.ui-icon-arrowthickstop-1-w-white { background-position: -240px -288px; }
.ui-icon-arrowreturnthick-1-w-white { background-position: 0 -304px; }
.ui-icon-arrowreturnthick-1-n-white { background-position: -16px -304px; }
.ui-icon-arrowreturnthick-1-e-white { background-position: -32px -304px; }
.ui-icon-arrowreturnthick-1-s-white { background-position: -48px -304px; }
.ui-icon-arrowreturn-1-w-white { background-position: -64px -304px; }
.ui-icon-arrowreturn-1-n-white { background-position: -80px -304px; }
.ui-icon-arrowreturn-1-e-white { background-position: -96px -304px; }
.ui-icon-arrowreturn-1-s-white { background-position: -112px -304px; }
.ui-icon-arrowrefresh-1-w-white { background-position: -128px -304px; }
.ui-icon-arrowrefresh-1-n-white { background-position: -144px -304px; }
.ui-icon-arrowrefresh-1-e-white { background-position: -160px -304px; }
.ui-icon-arrowrefresh-1-s-white { background-position: -176px -304px; }
.ui-icon-arrow-4-white { background-position: 0 -320px; }
.ui-icon-arrow-4-diag-white { background-position: -16px -320px; }
.ui-icon-extlink-white { background-position: -32px -320px; }
.ui-icon-newwin-white { background-position: -48px -320px; }
.ui-icon-refresh-white { background-position: -64px -320px; }
.ui-icon-shuffle-white { background-position: -80px -320px; }
.ui-icon-transfer-e-w-white { background-position: -96px -320px; }
.ui-icon-transferthick-e-w-white { background-position: -112px -320px; }
.ui-icon-folder-collapsed-white { background-position: 0 -336px; }
.ui-icon-folder-open-white { background-position: -16px -336px; }
.ui-icon-document-white { background-position: -32px -336px; }
.ui-icon-document-b-white { background-position: -48px -336px; }
.ui-icon-note-white { background-position: -64px -336px; }
.ui-icon-mail-closed-white { background-position: -80px -336px; }
.ui-icon-mail-open-white { background-position: -96px -336px; }
.ui-icon-suitcase-white { background-position: -112px -336px; }
.ui-icon-comment-white { background-position: -128px -336px; }
.ui-icon-person-white { background-position: -144px -336px; }
.ui-icon-print-white { background-position: -160px -336px; }
.ui-icon-trash-white { background-position: -176px -336px; }
.ui-icon-locked-white { background-position: -192px -336px; }
.ui-icon-unlocked-white { background-position: -208px -336px; }
.ui-icon-bookmark-white { background-position: -224px -336px; }
.ui-icon-tag-white { background-position: -240px -336px; }
.ui-icon-home-white { background-position: 0 -352px; }
.ui-icon-flag-white { background-position: -16px -352px; }
.ui-icon-calendar-white { background-position: -32px -352px; }
.ui-icon-cart-white { background-position: -48px -352px; }
.ui-icon-pencil-white { background-position: -64px -352px; }
.ui-icon-clock-white { background-position: -80px -352px; }
.ui-icon-disk-white { background-position: -96px -352px; }
.ui-icon-calculator-white { background-position: -112px -352px; }
.ui-icon-zoomin-white { background-position: -128px -352px; }
.ui-icon-zoomout-white { background-position: -144px -352px; }
.ui-icon-search-white { background-position: -160px -352px; }
.ui-icon-wrench-white { background-position: -176px -352px; }
.ui-icon-gear-white { background-position: -192px -352px; }
.ui-icon-heart-white { background-position: -208px -352px; }
.ui-icon-star-white { background-position: -224px -352px; }
.ui-icon-link-white { background-position: -240px -352px; }
.ui-icon-cancel-white { background-position: 0 -368px; }
.ui-icon-plus-white { background-position: -16px -368px; }
.ui-icon-plusthick-white { background-position: -32px -368px; }
.ui-icon-minus-white { background-position: -48px -368px; }
.ui-icon-minusthick-white { background-position: -64px -368px; }
.ui-icon-close-white { background-position: -80px -368px; }
.ui-icon-closethick-white { background-position: -96px -368px; }
.ui-icon-key-white { background-position: -112px -368px; }
.ui-icon-lightbulb-white { background-position: -128px -368px; }
.ui-icon-scissors-white { background-position: -144px -368px; }
.ui-icon-clipboard-white { background-position: -160px -368px; }
.ui-icon-copy-white { background-position: -176px -368px; }
.ui-icon-contact-white { background-position: -192px -368px; }
.ui-icon-image-white { background-position: -208px -368px; }
.ui-icon-video-white { background-position: -224px -368px; }
.ui-icon-script-white { background-position: -240px -368px; }
.ui-icon-alert-white { background-position: 0 -384px; }
.ui-icon-info-white { background-position: -16px -384px; }
.ui-icon-notice-white { background-position: -32px -384px; }
.ui-icon-help-white { background-position: -48px -384px; }
.ui-icon-check-white { background-position: -64px -384px; }
.ui-icon-bullet-white { background-position: -80px -384px; }
.ui-icon-radio-on-white { background-position: -96px -384px; }
.ui-icon-radio-off-white { background-position: -112px -384px; }
.ui-icon-pin-w-white { background-position: -128px -384px; }
.ui-icon-pin-s-white { background-position: -144px -384px; }
.ui-icon-play-white { background-position: 0 -400px; }
.ui-icon-pause-white { background-position: -16px -400px; }
.ui-icon-seek-next-white { background-position: -32px -400px; }
.ui-icon-seek-prev-white { background-position: -48px -400px; }
.ui-icon-seek-end-white { background-position: -64px -400px; }
.ui-icon-seek-start-white { background-position: -80px -400px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first-white { background-position: -80px -400px; }
.ui-icon-stop-white { background-position: -96px -400px; }
.ui-icon-eject-white { background-position: -112px -400px; }
.ui-icon-volume-off-white { background-position: -128px -400px; }
.ui-icon-volume-on-white { background-position: -144px -400px; }
.ui-icon-power-white { background-position: 0 -416px; }
.ui-icon-signal-diag-white { background-position: -16px -416px; }
.ui-icon-signal-white { background-position: -32px -416px; }
.ui-icon-battery-0-white { background-position: -48px -416px; }
.ui-icon-battery-1-white { background-position: -64px -416px; }
.ui-icon-battery-2-white { background-position: -80px -416px; }
.ui-icon-battery-3-white { background-position: -96px -416px; }
.ui-icon-circle-plus-white { background-position: 0 -432px; }
.ui-icon-circle-minus-white { background-position: -16px -432px; }
.ui-icon-circle-close-white { background-position: -32px -432px; }
.ui-icon-circle-triangle-e-white { background-position: -48px -432px; }
.ui-icon-circle-triangle-s-white { background-position: -64px -432px; }
.ui-icon-circle-triangle-w-white { background-position: -80px -432px; }
.ui-icon-circle-triangle-n-white { background-position: -96px -432px; }
.ui-icon-circle-arrow-e-white { background-position: -112px -432px; }
.ui-icon-circle-arrow-s-white { background-position: -128px -432px; }
.ui-icon-circle-arrow-w-white { background-position: -144px -432px; }
.ui-icon-circle-arrow-n-white { background-position: -160px -432px; }
.ui-icon-circle-zoomin-white { background-position: -176px -432px; }
.ui-icon-circle-zoomout-white { background-position: -192px -432px; }
.ui-icon-circle-check-white { background-position: -208px -432px; }
.ui-icon-circlesmall-plus-white { background-position: 0 -448px; }
.ui-icon-circlesmall-minus-white { background-position: -16px -448px; }
.ui-icon-circlesmall-close-white { background-position: -32px -448px; }
.ui-icon-squaresmall-plus-white { background-position: -48px -448px; }
.ui-icon-squaresmall-minus-white { background-position: -64px -448px; }
.ui-icon-squaresmall-close-white { background-position: -80px -448px; }
.ui-icon-grip-dotted-vertical-white { background-position: 0 -464px; }
.ui-icon-grip-dotted-horizontal-white { background-position: -16px -464px; }
.ui-icon-grip-solid-vertical-white { background-position: -32px -464px; }
.ui-icon-grip-solid-horizontal-white { background-position: -48px -464px; }
.ui-icon-gripsmall-diagonal-se-white { background-position: -64px -464px; }
.ui-icon-grip-diagonal-se-white { background-position: -80px -464px; }

.ui-dialog .ui-dialog-footer {
	padding: .4em 1em; 
	border-width: 1px 0 0 0; 
	text-align:left;
	background-color: #f2f2f2;	
}

.scroll td {
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom:0px;
	padding-bottom: 15px\9;
}
